.headerContainer {
    margin: 5rem 24rem 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.headerContent {
    max-width: 720px;
    margin: 0 auto;
    :hover {
        cursor: pointer;
    }
}
